.x{
   background-color:green;
   padding-bottom:15px;
   margin-bottom:15px;

}
div{
background-color:pink;
padding-bottom:20px;
border:1px;
margin-bottom:20px;
}
 img.k{
            width:135px;
    }
